@font-face {
	font-family: "Kenyan Coffee";
	src: url("../public/fonts/kenyan-coffee/700.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Kenyan Coffee";
	src: url("../public/fonts/kenyan-coffee/400.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-primary
}
