@font-face {
	font-family: "Kenyan Coffee";
	src: url("../public/fonts/kenyan-coffee/700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Kenyan Coffee";
	src: url("../public/fonts/kenyan-coffee/400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../public/fonts/raleway/300.woff2') format('woff2');
	font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../public/fonts/raleway/400.woff2') format('woff2');
	font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../public/fonts/raleway/400i.woff2') format('woff2');
	font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../public/fonts/raleway/600.woff2') format('woff2');
	font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('../public/fonts/raleway/600i.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: "The Next Font";
	src: url("../public/fonts/the-next-font.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	@apply font-secondary;
}

main {
	background: linear-gradient(to right, rgba(20, 19, 19, 0.6) 0%, rgba(252, 251, 251, 0) 20%, rgba(20, 19, 19, 0) 80%, rgba(20, 19, 19, 0.6) 100%);
	background-color: theme('colors.primary');
	background-blend-mode: overlay;
	mix-blend-mode: overlay;
	color: white;
}

progress::-webkit-progress-bar {
	@apply bg-gray-300 rounded-full shadow-dark-400;
}

progress::-webkit-progress-value {
	@apply bg-primary rounded-full shadow-progress;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-primary;
}

.main-height-full {
	min-height: calc(100vh - theme('spacing.16'));
}

.main-height {
	min-height: calc(100vh - 270px);
}

.dj-hunt .swiper-slide-active {
	@apply transform scale-120;
}

.radio-talents .swiper-slide-active {
	@apply transform scale-110 origin-center;
}

.radio-talents .swiper-slide-active img {
	@apply shadow-md transition-all opacity-100;
}

.btn {
	@apply transition-colors w-full select-none;
}

.btn.white {
	@apply bg-white text-gray-900 hover:(bg-gray-200)
		focus:ring-gray-900 outline-none active:bg-gray-300;
}

.btn.green {
	@apply bg-primary hover:bg-primary-dark text-white;
}

input[type="checkbox"].hide {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}